$color-bg: #fff;
$color-sec-bg: #7BB6BA;
$color-thi-bg: #FEE802;
$first-text-color: #000;
$sec-text-color: #fff;
$thi-text-color: #f3f380;
$four-text-color: #141219;
$green: #009e5f;
$blue: #35a2e7;
$orange: #d1831d;
$turq: #7bb6ba;
