@import "settings";

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: $color-bg;
}
.container{
   // max-width: 1280px !important;
}

header{
  position: absolute;
  top: 0px;
  width: 100%;
  & .top-header_social-links{
    display: flex;
    justify-content: flex-end;
    & ul{
      display: flex;
      & li{
        background: $color-thi-bg;
        padding: 10px 15px;
        &:hover{
          cursor: pointer;
        }
        & i{
          font-size: 25px;
          color: $first-text-color;
        }
      }
    }
  }
  & .main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .menu-header{
      margin-top: 20px;
      & ul.menu-header_desptop-menu{
        display: flex;
        flex-direction: row;
        & li{
          margin: 0 10px;
          &:hover{
            & a{
              color:$thi-text-color;
              text-decoration: none;
              transition: color .2s ease-in-out;
            }
          }
          & a{
            color:$sec-text-color;
            font-weight: 900;
            font-size: 15px;
            line-height: 23px;
            text-transform: uppercase;
            transition: color .5s ease-in-out;
          }
        }
      }
    }
  }
}
.slider{
  background-image: url(/img/rudawy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;

}
.plan-trip{
  padding-top: 70px;
  padding-bottom: 70px;
  & h2{
    text-align: center;
    font-size: 35px;
  }
  & .plan-trip_btns{
    & ul{
      display: flex;
      justify-content: center;
      & li{
        padding: 10px 20px;
        margin:20px 10px;
        border: 2px solid #dcdcdc;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .3s ease-in;
        color:#212529;
        &:hover,&.active_trip{
          background-color: #dcdcdc;
        }
      }
      & li.plan-trip_btns_2{
        border-color:$green;
        &:hover, &.active_trip{
          background-color:$green;
        }
      }
      & li.plan-trip_btns_3{
        border-color:$blue;
        &:hover, &.active_trip{
          background-color: $blue;
        }
      }
      & li.plan-trip_btns_4{
        border-color:$orange;
        &:hover,&.active_trip{
          background-color: $orange;
        }
      }
      & li.plan-trip_btns_5{
        border-color: $turq;
        &:hover, &.active_trip{
          background-color: $turq;
        }
      }
    }
  }
  & .map{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & .map_picker{
      position: absolute;
      height: 80%;
      width: 80%;
      & .map_pic{
        display:block;
        width:10px;
        height:10px;
        background-color: $blue;
        z-index: 99;
        border-radius: 50px;
        position: absolute;
      }
      & .orange-pick{
        background-color: $orange;
      }
      & .green-pick{
        background-color: $green;
      }
      & .turq-pick{
        background-color: $turq;
      }

    }
  }
}
.attractions{
  & .news_box{
    border:1px solid #dcdcdc;
    height: 380px;
    margin-bottom: 10px;
    &.green-slide{
      border-bottom:4px solid $green;
    }
    &.blue-slide{
      border-bottom:4px solid $blue;
    }
    &.orange-slide{
      border-bottom:4px solid $orange;
    }
    &.turq-slide{
      border-bottom:4px solid $turq;
    }
  }
  & .slick-list{
    margin: -10px -10px;
    & .slick-slide  {
      outline: none !important;
      margin: 10px 10px;
      & .news_img{
        width:100%;
        height: 100%;
      }
      & .news_content{
        padding: 10px 15px;
        height: 170px;
        & .news_title{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & h4{
            font-weight: bold;
            font-size:18px;
            line-height: 22px;
            color: $four-text-color;
          }
        }
        & .news_btn{
            height: 40px;
            width: 172px;
            border: 2px solid #dcdcdc;
            background: #fff;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                border: 2px solid #000;
              a{
                color: $first-text-color;
              }
            }
            & a{
              font-size: 12px;
              font-weight: 500;
              color: $four-text-color;
            }
        }
      }
    }
  }
}
